*.zip
frontend - Kopie/
Quarantäne*
~$*
*.exe
*.msi
*.lnk
stripe_backup_code.txt

# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/
.next/
out/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
postgres_data/

# IDE
.vscode/
.idea/